<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Moto Sigma</title>
    <link rel="stylesheet" href="../static/css/Styles.css">
</head>
   <body>
       <nav>
           <div class="logo">MotoSigma</div>
           <div class="nav-items">
               <a href="/">Home</a>
               <a href="/display/Sport">Sports Bikes</a>
               <a href="/display/Adventure">ADV Bikes</a>
               <a href="/display/Naked">Naked Bikes</a>
               <a href="/display/Cruiser">Cruisers</a>
               <a href="/display/Off-Road">Dirt-Bikes</a>
               <a href="/display/Tourer">Baggers</a>
           </div>
           <form method="post" action="/search">
               <label for="searchbox">Search the database: </label>
               <input type="text" name="Search" id="searchbox">
               <input type="submit" value="Search!">
           </form>
       </nav>
       <main class="hero">
            {% block main %}

            {% endblock %}
       </main>
   </body>
</html>
