<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Moto Sigma</title>
    <link rel="stylesheet" href="../static/css/Styles.css">
</head>
   <body>
       <nav>
           <div class="logo">MotoSigma</div>
           <div class="nav-items">
               <a href="/">Home</a>
               <a href="/motorcycles.html">Motorcycles</a>
               <a href="/Sports.html">Sports Bikes</a>
           </div>
       </nav>
       <main class="hero">
            {% block main %}

            {% endblock %}
       </main>
   </body>
</html>
